

.myclass {
    height: 200px;
}
 .myclass h4{
     color: black;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
}
.myclass p{
text-align:right;
color:darkgray;
}
.container h1{
text-align:center;

}