
/* grid{
display: grid;
grid-gap: 10px;

}
.row-gap{
display:grid;
grid-gap: 10px;

} */
.myclass {
  
  /*  box-shadow: 10px 10px 30px grey;*/
  border:1px solid black;
   
}
.raised-block {
    background-color: #fff;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: -0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .row [class^='col-']:first-child > .raised-block {
    margin-left: -0.625rem;
  }
  
 .myclass h5{
     color: #949697;
     font-weight: 600;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.myclass p{
color:darkgray;

}
.border{
height:50px;
border-width:50px !important;
}
.border-width{
display: block;
width:50px;
height: 50px;
text-align:center;
display:flex;
align-items:center;
justify-content: center;
margin:2rem auto;

}
.image{
color:red;

}
#line{
border-top: 1px solid red;
width:50px;
margin:0 auto;

}
